<a href="https://colab.research.google.com/github/19pa1a0586/AI/blob/master/AbinavDayal_Army.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
sd=pd.read_csv("CBSE_Schools_Data.csv")
sd.columns

Index(['name', 'state', 'district', 'region', 'address', 'pincode', 'ph_no',
       'off_ph_no', 'fax_no', 'year_found', 'date_opened', 'princi_name'],
      dtype='object')

In [0]:
#name         :     Name of the school
#state        :     The school belongs to particular state
#district     :     The school belongs to particular district
#region       :     The school is located at particular region
#address      :     Address of the school
#pincode      :     Pincode of that region
#ph_no        :     Phone number of the school
#off_ph_no    :     Office phone number of the school
#fax_no       :     Fax number of the school
#year_found   :     The school is found in this year
#date_opened  :     The school opened on this date
#princi_name  :     Name of the principle to the school

In [0]:
sd

                                                    name  ...              princi_name
0        PARAM POOJYA SHREE RAMKRISHNA SARASWATI GURUKUL  ...               SHUKLA R N
1                                     RANI PUBLIC SCHOOL  ...  GEETALAXMI SATHYANATHAN
2                                    MANAV SEHYOG SCHOOL  ...             RAJNI SHARMA
3                                GOVT BOYS SR SEC SCHOOL  ...             DINESH KUMAR
4                           GOVT. SEC. SCHOOL, GANGA P.O  ...              MOKIR KAMKI
...                                                  ...  ...                      ...
20362                         GOVT. BOYS SR. SEC. SCHOOL  ...             MUNNA PANDEY
20363  ST. XAVIER'S SENIOR SECONDARY SCHOOL, SIRSA HA...  ...      FR JOHN M FERNANDES
20364                        ST. MARY'S SECONDARY SCHOOL  ...        SR SANDHYA MATHEW
20365              SATYAMEVA JAYATE INTERNATIONAL SCHOOL  ...           NAMITA KHURANA
20366                                 KENDRIYA VIDYALAYA  ...         SHRI PHOOL MEENA

[20367 rows x 12 columns]

In [0]:
sd.dtypes # specifies the data type of each column

name            object
state           object
district        object
region          object
address         object
pincode         object
ph_no          float64
off_ph_no       object
fax_no          object
year_found     float64
date_opened     object
princi_name     object
dtype: object

In [0]:
sd["state"]=sd.state.astype("category") #changing data type of state .i.e, object into category

In [0]:
sd.dtypes

name             object
state          category
district         object
region           object
address          object
pincode          object
ph_no           float64
off_ph_no        object
fax_no           object
year_found      float64
date_opened      object
princi_name      object
dtype: object

In [0]:
sd.state.head() #checking the data type of state

0          MAHARASHTRA
1               KERALA
2               PUNJAB
3                DELHI
4    ARUNACHAL PRADESH
Name: state, dtype: category
Categories (37, object): [ANDAMAN & NICOBAR, ANDHRA PRADESH, ARUNACHAL PRADESH, ASSAM, ..., TRIPURA,
                          UTTAR PRADESH, UTTARAKHAND, WEST BENGAL]

In [0]:
sd.isnull().sum()

name               0
state              0
district        2903
region             0
address            0
pincode          642
ph_no           9999
off_ph_no        732
fax_no         13754
year_found       806
date_opened     1408
princi_name      389
dtype: int64

In [55]:
sd["pincode"].mode()

0    110041
dtype: object

In [0]:
sd=sd.fillna(method='bfill')

In [57]:
sd.isnull().sum()

name           0
state          0
district       0
region         0
address        0
pincode        0
ph_no          0
off_ph_no      0
fax_no         1
year_found     0
date_opened    0
princi_name    0
dtype: int64

In [58]:
sd

                                                    name  ...              princi_name
0        PARAM POOJYA SHREE RAMKRISHNA SARASWATI GURUKUL  ...               SHUKLA R N
1                                     RANI PUBLIC SCHOOL  ...  GEETALAXMI SATHYANATHAN
2                                    MANAV SEHYOG SCHOOL  ...             RAJNI SHARMA
3                                GOVT BOYS SR SEC SCHOOL  ...             DINESH KUMAR
4                           GOVT. SEC. SCHOOL, GANGA P.O  ...              MOKIR KAMKI
...                                                  ...  ...                      ...
20362                         GOVT. BOYS SR. SEC. SCHOOL  ...             MUNNA PANDEY
20363  ST. XAVIER'S SENIOR SECONDARY SCHOOL, SIRSA HA...  ...      FR JOHN M FERNANDES
20364                        ST. MARY'S SECONDARY SCHOOL  ...        SR SANDHYA MATHEW
20365              SATYAMEVA JAYATE INTERNATIONAL SCHOOL  ...           NAMITA KHURANA
20366                                 KENDRIYA VIDYALAYA  ...         SHRI PHOOL MEENA

[20367 rows x 12 columns]