<a href="https://colab.research.google.com/github/19pa1a0586/AI/blob/master/Copy_of_Dealing_with_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### In this lecture
* Identifying missing values
* Approaches to fill the missing values

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/bhargav23/Dataset/master/Toyota.csv',index_col=0,na_values=['??','????'])

In [ ]:
data.head()

   Price   Age       KM FuelType  ...  Automatic    CC  Doors  Weight
0  13500  23.0  46986.0   Diesel  ...          0  2000  three    1165
1  13750  23.0  72937.0   Diesel  ...          0  2000      3    1165
2  13950  24.0  41711.0   Diesel  ...          0  2000      3    1165
3  14950  26.0  48000.0   Diesel  ...          0  2000      3    1165
4  13750  30.0  38500.0   Diesel  ...          0  2000      3    1170

[5 rows x 10 columns]

### Identifying missing values
* In Pandas dataframes missing data is represented by **NaN** (an acronym for Not a Number)
* To check null values in Pandas dataframes **isnull()** and **isna()** are used
* These functions returns a dataframe of Boolean values which are **True** for **NaN** values

In [ ]:
data.isnull()

      Price    Age     KM  FuelType  ...  Automatic     CC  Doors  Weight
0     False  False  False     False  ...      False  False  False   False
1     False  False  False     False  ...      False  False  False   False
2     False  False  False     False  ...      False  False  False   False
3     False  False  False     False  ...      False  False  False   False
4     False  False  False     False  ...      False  False  False   False
...     ...    ...    ...       ...  ...        ...    ...    ...     ...
1431  False   True  False     False  ...      False  False  False   False
1432  False  False   True     False  ...      False  False  False   False
1433  False   True  False     False  ...      False  False  False   False
1434  False  False   True      True  ...      False  False  False   False
1435  False  False  False     False  ...      False  False  False   False

[1436 rows x 10 columns]

In [ ]:
data.isna()

      Price    Age     KM  FuelType  ...  Automatic     CC  Doors  Weight
0     False  False  False     False  ...      False  False  False   False
1     False  False  False     False  ...      False  False  False   False
2     False  False  False     False  ...      False  False  False   False
3     False  False  False     False  ...      False  False  False   False
4     False  False  False     False  ...      False  False  False   False
...     ...    ...    ...       ...  ...        ...    ...    ...     ...
1431  False   True  False     False  ...      False  False  False   False
1432  False  False   True     False  ...      False  False  False   False
1433  False   True  False     False  ...      False  False  False   False
1434  False  False   True      True  ...      False  False  False   False
1435  False  False  False     False  ...      False  False  False   False

[1436 rows x 10 columns]

### Identifying missing values
* Dataframe.isna().sum(), 
* Dataframe.isnull().sum()
* To check the count of missing values present in each column

In [ ]:
data.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [ ]:
data.isna().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

* Subsetting the rows that have one or more missing values

In [ ]:
data.isnull().any(axis=1)
# Return True if bool(x) is True for any x in the iterable.
# If the iterable is empty, return False.

0       False
1       False
2        True
3       False
4       False
        ...
1431     True
1432     True
1433     True
1434     True
1435    False
Length: 1436, dtype: bool

In [ ]:
missing = data[data.isnull().any(axis=1)]

In [ ]:
data.shape

(1436, 10)

In [ ]:
missing.shape

(340, 10)

### Approached to fill the missing values
* Two ways of approach
  * Fill the missing values by **mean / median** , in case of **numerical variable**
  * Fill the missing values with the class which has **maximum count** , in case of **categorical variable**

### Imputing missing values
* Look at the description to know whether numerical variables should be imputed with mean or median
* DataFrame.describe()
* Generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values

In [ ]:
data.describe()

              Price          Age  ...           CC      Weight
count   1436.000000  1336.000000  ...  1436.000000  1436.00000
mean   10730.824513    55.672156  ...  1566.827994  1072.45961
std     3626.964585    18.589804  ...   187.182436    52.64112
min     4350.000000     1.000000  ...  1300.000000  1000.00000
25%     8450.000000    43.000000  ...  1400.000000  1040.00000
50%     9900.000000    60.000000  ...  1600.000000  1070.00000
75%    11950.000000    70.000000  ...  1600.000000  1085.00000
max    32500.000000    80.000000  ...  2000.000000  1615.00000

[8 rows x 8 columns]

### Imputing missing values of **Age**
* Calculating the mean value of the **Age** variable

In [ ]:
data['Age'].mean()

55.67215568862275

* To fill NA/ NaN values using the specified value
* Syntax : DataFrame.fillna()

In [ ]:
data['Age'].fillna(data['Age'].mean(),inplace=True)

### Imputing missing values of **KM**
* Calculating the median value of the **KM** variable

In [ ]:
data['KM'].median()

63634.0

* To fill NA/ NaN values using the specified value
* Syntax : DataFrame.fillna()

In [ ]:
data['KM'].fillna(data['KM'].median(),inplace=True)

### Imputing missing values of **HP**
* Calculating the mean value of the **HP** variable

In [ ]:
data['HP'].mean()

101.47832167832168

* To fill NA/ NaN values using the specified value
* Syntax : DataFrame.fillna()

In [ ]:
data['HP'].fillna(data['HP'].mean(),inplace=True)

* Check for missing data after filling values

In [ ]:
data.isna().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

### Imputing missing values of **FuelType**
* Syntax: Series.value_counts()
  * Returns a Series containing counts of unique values
  * The values will be in descending order so that the first element is the most frequently occurring element
  * Excludes NA values by default

In [ ]:
data['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

* To get the mode value of **FuelType**

In [ ]:
data['FuelType'].value_counts().index[0]

'Petrol'

* To fill NA/ NaN values using the specified value

In [ ]:
data['FuelType'].fillna(data['FuelType'].value_counts().index[0],inplace=True)

### Imputing missing values of **MetColor**
* To get the mode value of **MetColor**

In [ ]:
data['MetColor'].mode()

0    1.0
dtype: float64

* To fill NA/ NaN values using the specified value

In [ ]:
data['MetColor'].fillna(data['MetColor'].mode()[0],inplace=True)

### Checking for missing values
* Check for missing data after filling values

In [ ]:
data.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

### Summary
* Identifying missing values
* Approaches to fill the missing values